*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
.includes.mk
.tags
/*-[0-9][0-9].xml
/.*.mk
/.gems/
/.refcache
/.targets.mk
/.venv/
/.vscode/
/lib
/node_modules/
/versioned/
Gemfile.lock
archive.json
draft-ietf-lamps-cms-kyber.xml
package-lock.json
report.xml
!requirements.txt
